.aboutbody
	.roundedimage
		=image_tag "profilepic.jpg", :alt=>"Mother Clucker", :height=>"200px", :width=>"200px"


	%p Hi, we're Clucker.  We cluck about a lot of things, and so should you!  Sign up today: it's free to cluck.

	%p Clucker is run by the Dynamic Duo of coding: David and Biscuit (pictured).  Clucker hopes to make your clucking easy, simple, and fun.  Feel free to contact us with your feedback.  

	%p Happy clucking!
