#wrapper
	%h1 Welcome back #{session[:user_name]}!

	.right.about
		%h3 Clucks
		%table
			%tr
				%th Name
				%th Body
			- @clucks.each do |x|
				%tr
					%td= x.user_name
					%td= x.text
%cluckswrapper
	.left
		%p Cluck here 
		%input#clucktext 
		%button#cluckbtn Submit!