%h2 Welcome to Clucker #{session[:user_name].upcase}! 
#motherclucker
	=image_tag "motherclucker.jpg", :alt=>"Mother Clucker", :height=>"200px", :width=>"200px"


%p Welcome to Clucker.  Clucker is like Twitter but without all the BS.  Cluck on!
%p Clucker allows you to:
.textcontainer
	%ul
		%li Cluck your thoughts
		%li Cluck images
		%li And Cluck other stuff

