!!!
%html
	%head
	%body
		%h1 Welcome to Clucker, #{@user.first}!
		%p
			You have successfully signed up for Clucker.
			Your login in simply your email #{@user.email}.
		%p
			To login to the site, just follow this link: #{@url}.
		%p
			Thanks for joining, and have a great day!